.page {
  max-width: 1920px;
  width: 100%;
}

.main {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.beautyServiceHead {
  position: relative;
  width: 100%;
  margin: 60px 0px 53px 0px;
  /* display: flex;
  justify-content: space-between; */
}

.beautyServiceHeadAside {
  width: 380px;
  position: absolute;
  right: 0px;
  top: -110px;
  z-index: 105;
}

.beautyServiceHeadAsideSubtitle {
  font-family: Public Sans;
  font-weight: 200;
  font-style: ExtraLight;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.3px;
  text-align: right;
}

.master_name {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -5%;
}

.imageWrapper {
  position: absolute;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 90px;
  /* margin-bottom: 30px; */
}

.beautyServiceHeadImage {
  object-fit: cover;
  transform: scale(1.25);
  /* transform-origin: center; */
  transform-origin: center 5%;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.navigateButton {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 28px;
  font-family: Public Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #CBC1B8;
}

.beautyServiceDetail {
  position: relative;
  width: 100%;
  padding: 15px 76px 85px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: #FFFFFF;
  background-image: url('/images/bs/background-bs.svg');
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: 1920px 1301px;
}

.beautyServiceWtf {
  max-width: 1169px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.beautyServiceWtfContainer {
  width: 100%;
}

.appoinmentButton {
  position: absolute;
  left: -140px;
  bottom: -215px;
  z-index: 15;
}

.asideMenu {
  position: absolute;
  right: 0px;
  bottom: -475px;
  z-index: 15;
}

/* карточка */

.cardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.serviceCounter {
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
}

.calendarIcon {
  width: 48px;
  height: 48px;
}

.calendarLink {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.cardTitle {
  width: 100%;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.5px;
  color: #0A090C;
  margin-top: 4px;
}

.cardText {
  width: 100%;
  font-family: var(--font-public-sans);
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #0A090C;
  /* margin-top: 15px; */
}

.cardTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* justify-content: space-between; */
}

.cardFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.cardImage {
  /* margin-top: 26px; */
  object-fit: cover;
}

.cardTime {
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
}

.cardPrice {
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #A9714B;
}

.cardTime {
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  line-height: 24px;
  letter-spacing: 1%;
}

.cardListItemI {
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  /* padding-right: 5px; */
  color: #95A3A0;
}

.cardListItem {
  display: flex;
  gap: 8px;
}

.calendarIconMobile {
  display: none;
}

.header_mobile {
  display: none;
}

.master_name {
  text-align: right;
  margin-top: 130px;
  margin-right: 15px;
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 1750px) {
  .beautyServiceWtf {
    max-width: 100%;
    flex-direction: column;
  }
}

/* Desktop (до 1440px) */
@media (max-width: 1440px) {
  .beautyServiceDetail {
    padding: 40px 60px 70px 60px;
    /* background-size: 1400px 1000px; */
  }

  .beautyServiceWtf {
    max-width: 100%;
  }

}

@media (max-width: 1100px) {
  .beautyServiceHeadAside {
    width: 320px;
  }

  .imageWrapper {
    margin-left: 30px;
  }
}

/* Tablet Large (до 1024px) */
@media (max-width: 1070px) {
  .beautyServiceDetail {
    padding: 30px 40px 60px 40px;
    background-size: 1200px 900px;
  }

  .beautyServiceHead {
    margin: 40px 0px 30px 0px;
  }

  .header {
    font-size: 76px;
    line-height: 41px;
  }

  .beautyServiceHeadAside {
    position: static;
    width: 60%;
    margin-top: 40px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .imageWrapper {
    position: static;
    margin: 0 0;
  }

  /* .beautyServiceHeadAsideSubtitle {
    text-align: right;
    font-size: 20px;
    line-height: 28px;
  } */

  .titleWrapper {
    gap: 40px;
  }

  .appoinmentButton {
    left: 0px;
    bottom: -85px;
  }

  .beautyServiceWtf {
    gap: 24px;
  }

  .asideMenu {
    position: static;
    margin: 30px 0px;
  }

  .master_name {
    margin-top: 20px;
    text-align: left;
  }
}

@media (max-width: 868px) {}

/* Tablet (до 768px) */
@media (max-width: 768px) {

  .header {
    display: none;
  }

  .header_mobile {
    display: block;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 0%;
    font-weight: 400;
  }

  .header_mobile_span {
    font-family: var(--font-great-vibes);
    font-size: 48px;
    line-height: 31px;
  }

  .beautyServiceDetail {
    padding: 10px 0px 32px 0px;
    background: none;
  }

  .beautyServiceHead {
    padding: 0px 16px;
    margin: 40px 0px 8px 0px;
    border-bottom: 1px solid #E4E4E4;
  }

  .beautyServiceWtfContainer {
    padding: 0px 16px;
  }

  .asideMenu {
    position: static;
    margin: 25px 0px 38px 0px;
  }

  .appoinmentButton {
    position: absolute;
    left: 188px;
    top: 117px;
  }

  .titleWrapper {
    gap: 34px;
  }

  .navigateButton {
    font-size: 16px;
    gap: 16px;
    padding-left: 0;
  }

  .serviceCounter {
    font-size: 14px;
    line-height: 20px;
  }

  .cardTitle {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1.55px;
  }

  .cardText {
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
  }

  .cardFooter {
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 8px;
  }

  .cardImage {
    width: 40%;
    height: auto;
  }

  .beautyServiceWtf {
    gap: 20px;
  }

  /* .imageWrapper {

  } */

  .beautyServiceHeadAside {
    text-align: left;
    align-items: start;
    margin-top: 25px;
  }

  .beautyServiceHeadAsideSubtitle {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
  }

  .master_name {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 41px;
    line-height: 41px;
  }

}

/* Mobile (до 480px) */
@media (max-width: 440px) {
  .navigateButton {
    margin-left: 10px;
    font-size: 14px;
    gap: 15px;
  }

  .appoinmentButton {
    position: absolute;
    left: 188px;
    top: 115px;
  }

  .beautyServiceHeadAside {
    width: 100%;
    margin-top: 24px;
  }

  .beautyServiceWtf {
    gap: 16px;
  }

  .cardFooter {
    gap: 20px;
    align-items: end;
  }

  .calendarIcon {
    display: none;
    width: 48px;
    height: 48px;
  }

  .calendarIconMobile {
    display: block;
    width: 48px;
    height: 48px;
  }

  .cardTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .cardTime {
    font-size: 32px;
  }

  .cardText {
    font-size: 18px;
  }

  .cardImage {
    /* margin-top: 26px; */
    object-fit: cover;
    width: 96px;
    height: 96px;
  }

  .cardTime,
  .cardPrice {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .appoinmentButton {
    left: 170px;
  }
}