.clientsRecommended {
  display: flex;
  background-image: url('/images/ocr/background-ocr.png');
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: 1832px 1301px;
}

.clientsRecommendedContent {
  flex-shrink: 0;
  max-width: calc(100% - 499px);
  padding: 180px 68px 116px 76px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.clientsRecommendedContentContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 110px;
  padding-top: 70px;
  width: 680px;
}

.titleGap {
  margin-right: 12px;
}

.clientsRecommendedAside {
  padding: 151px 76px 116px 104px;
  display: flex;
  flex-direction: column;
  gap: 128px;
  align-items: end;
}

.clientsRecommendedRelativeContainer {
  position: relative;
}

.clientsRecommendedHandsPicture {
  border-bottom-left-radius: 76px;
}

.clientsRecommendedTitle {
  text-align: right;
}

.clientsRecommendedComment {
  position: absolute;
  left: -125px;
  top: -130px;
}

.clientsRecommendedSliderControls {
  position: absolute;
  top: 49px;
  right: 50px;
  display: flex;
  gap: 16px;
}

.reviewItem {
  position: relative;
  padding: 40px 38px 40px 40px;
  width: 650px;
  border: 1px solid #E4E4E4;
  border-top-left-radius: 80px;
}

.clientsRecommendedSliderHide {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 1px;
  width: 650px;
}

.clientsRecommendedSliderTrack {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 650px;
}

.clientsRecommendedSliderItem {
  width: 650px;
}

.reviewItemName {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -5%;
  color: #0A090C;
  margin-bottom: 16px;
}

.reviewItemSubtitle {
  font-family: Public Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #A9714B;
  margin: 14px 0px 48px;
}

.starsContainer {
  display: flex;
  gap: 2px;
}

.reviewItemText {
  font-family: Public Sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
}

.quote {
  position: absolute;
  top: -25px;
  right: 60px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #E4E4E4;
  border-radius: 100%;
}