/* Navigation styles for page3 */
/* .services-navigation {
  position: absolute;
  top: 619px;
  right: 76px;
  width: 100%;
  margin-bottom: 32px;
} */

.services_nav_list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav_link {
  background: none;
  border: none;
  font-family: var(--font-public-sans);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  color: #CBC1B8;
}

.nav_link_dot {
  width: 8px;
  height: 8px;
  margin-right: 24px;
  border-radius: 50%;
  background: none;
  background-color: #A9714B;
  transition: all 0.3s ease;
}

.nav_link:hover {
  color: #0A090C;
  background-color: #F8F8F8;
}

.nav_ink.active {
  color: #A9714B;
}

.active {
  color: #A9714B;
}

@media (max-width: 768px) {

  .services_nav_list {
    gap: 16px;
    align-items: start;
   }

  .nav_link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 16%;
  }

}