:root {
  --font-public-sans: 'Public Sans', sans-serif;
  --font-playfair-display: 'Playfair Display', serif;
  --font-great-vibes: 'Great Vibes', cursive;
  --font-great_vibes: 'Great Vibes', sans-serif;

  --background-main: #fff;
  --color-main: #0A090C;
  --color-secondary: #141414;
}

/* * {
  outline: 1px solid red !important;
} */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--color-main);
  background: var(--background-main);
  font-family: 'Public Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.skip-li {
  margin: 0px;
  padding: 0px;
  list-style: none;

}

.champagne-title {
  font-family: Great Vibes;
  font-weight: 400;
  font-size: 136px;
  line-height: 75px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 10px;
}

.vine-title {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 96px;
  line-height: 51px;
  letter-spacing: 0%;
  vertical-align: middle;
}