.beauty-button {
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
  height: 64px;
  display: flex;
  box-sizing: border-box;
  gap: 16px;
  justify-content: space-between;
  border-radius: 48px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: #FFFFFF;
  border: 1px solid #CBC1B8;
  align-items: center;
  align-self: end;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.beauty-button:hover {
  color: #A9714B;
  border-color: #A9714B;
}

.beauty-button.pressed {
  background-color: #A9714B;
  color: #FFFFFF;
  border-color: #A9714B;
}

@media (max-width: 650) {
  .beauty-button {
    font-size: 14px; 
  }
}