.beautyServicesSection {
  box-sizing: border-box;
  width: 100%;
  padding: 100px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 96px;
  background: #FFFFFF;
  /* background: #F8F8F8; */
}

.beautyServicesSectionPageTwo {
  width: 100%;
  padding: 110px 76px 96px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 96px;
  background: #FFFFFF;
  /* background: #F8F8F8; */
}

.beautyServicesSectionPageThree {
  position: relative;
  width: 100%;
  padding: 40px 76px 85px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #FFFFFF;
  background-image: url('/images/bs/background-bs.svg');
  background-repeat: no-repeat;
  background-position: right 0px top 28px;
  background-size: 1920px 1301px;
}

/* серединка ================================ */
.beautyServicesListPageOne {
  max-width: 1768px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 568px));
  gap: 32px;
  list-style: none;
  justify-content: center;
  align-items: center;
}


.beautyServicesListPageTwo {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.beautyServicesListPageThree {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
}

.cardTitle {
  width: 100%;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -5%;
  color: #0A090C;
  margin-top: 4px;
}

.cardTitlePageTwo {
  width: 558px;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 3%;
  text-transform: capitalize;
  color: #0A090C;
}

.cardText {
  width: 100%;
  font-family: var(--font-public-sans);
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
  color: #0A090C;
  margin-top: 15px;
}

.cardImage {
  margin-top: 26px;
  object-fit: cover;
  margin: 26px auto 0px auto;
}

.cardImagePageTwo {
  object-fit: cover;
}

.cardList {
  margin-top: 26px;
  padding-left: 0px;
  letter-spacing: 0.01em;
  color: #0A090C;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.cardListItem {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  display: flex;
  gap: 8px;
}

.cardListItemText {
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.cardListItemI {
  /* border-left: 1px solid #0A090C; */
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  padding-right: 5px;
  color: #95A3A0;
}

.cardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.cardHeaderPageTwo {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceCounter {
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
}

.serviceCounterPageTwo {
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #0A090C;
}

.serviceCounterPageThree {
  margin-top: 5px;
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
}

.calendarIcon {
  width: 48px;
  height: 48px;
}

.lastLi {
  padding: 0px 0px 0px 5px;
  margin: 0px;
  display: flex;
  font-family: var(--font-public-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #A9714B;
}

.placeholderCard {
  cursor: pointer;
  padding: 80px;
  display: flex;
  gap: 66px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 640px;
  border-top-right-radius: 80px;
  background-color: #95A3A0;
  transition: transform 0.2s ease;
}

.placeholderCard:hover {
  transform: scale(1.01);
}

.placeholderTitle {
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.05em;
  /* Преобразование процентов в em для letter-spacing */
  text-align: center;
  color: #FFFFFF;
}

/* .card-arrow-page2 {

} */

/* Третья страница */

.bsImagesListPThree {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.bsCardArticlePThree {
  margin: 0px;
  ;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bsCardTitlePThree {
  width: 100%;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  /* letter-spacing: -0.05em; */
  color: #0A090C;
}

.bsCardTextPThree {
  width: 555px;
  font-family: var(--font-public-sans);
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
  color: #0A090C;
}

.beautyServicesButtonStylePThree {
  width: 247px;
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 43px;
}

.bsCardListPThree {
  width: 900px;
  margin-top: 3px;
  padding-left: 0px;
  letter-spacing: 0.01em;
  color: #0A090C;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.bsCardListItemTextPThree {
  font-family: var(--font-public-sans);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #0A090C;

}

.calendarLink {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.calendarLink:hover {
  transform: scale(1.1);
}

.bsAppoinment {
  position: absolute;
  right: 397px;
  top: 316px;
}



/* @media (max-width: 1880px) {
  .beautyServicesListPageOne {
    grid-template-columns: repeat(2, 1fr);
  }
} */