.beauty-services-section {
  width: 1920px;
  padding: 100px 76px 120px 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 96px;
  background: #F8F8F8;
}

.beauty-services-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

/* верхушка ================================= */

.button-style {
  font-family: var(--font-great_vibes);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
  width: 374px;
  height: 64px;
  display: inline-flex;
  gap: 32px;
  border-radius: 48px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  background: #FFFFFF;
  border: 1px solid #CBC1B8;
  align-items: center;
  justify-content: center;
}


/* серединка ================================ */
.beauty-services-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style: none;
}

.card-title {
  width: 100%;
  font-family: var(--font-playfair-display);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  /* letter-spacing: -0.05em; */
  color: #0A090C;
  margin-top: 11px;
}

.card-text {
  width: 100%;
  /* font-family: var(--font-public-sans); */
  font-family: 'Public Sans', Helvetica, sans-serif;
  /* font-family: 'Public Sans', sans-serif; */
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3%;
  color: #0A090C;
  margin-top: 10px;
}

.card-image {
  margin-top: 26px;
  object-fit: cover;
  margin: 26px auto 0px auto;
}

.card-list {
  margin-top: 27px;
  padding-left: 0px;
  letter-spacing: 0.01em;
  color: #0A090C;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card-list-item {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  display: flex;
  gap: 8px;
}

.card-list-item-text {
  font-family: 'Public Sans', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.card-list-item-I {
  /* border-left: 1px solid #0A090C; */
  font-family: var(--font-public-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  padding-right: 5px;
  color: #95A3A0;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.service-counter {
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #0A090C;
}

.calendar-icon {
  width: 48px;
  height: 48px;
}

.last-li {
  padding: 0px 0px 0px 5px;
  margin: 0px;
  display: flex;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #A9714B;
}

.placeholder-card {
  padding: 80px;
  display: flex;
  gap: 66px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 640px;
  border-top-right-radius: 80px;
  background-color: #95A3A0;
}

.placeholder-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.05em;
  /* Преобразование процентов в em для letter-spacing */
  text-align: center;
  color: #FFFFFF;
}