.card-wrapper-page1 {
  width: 568px;
  height: 640px;
  border: 1px solid #E4E4E4;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.card-wrapper-page2 {
  width: 100%;
  /* height: 344px; */
  gap: 170px;
  border-bottom: 1px solid #E4E4E4;
  background-color: white;
  padding: 32px 150px 32px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

.card-wrapper-page3 {
  width: 1187px;
  min-height: 496px;
  padding: 40px 120px 37px 40px;
  background-color: white;
  display: flex;
  gap: 32px;
  position: relative;
  border: 1px solid #E4E4E4;
}

.card-wrapper-page4 {
  width: 568px;
  height: 640px;
  border: 1px solid #E4E4E4;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

@media (max-width: 1070px) {
  .card-wrapper-page4 {
    width: 100%;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .card-wrapper-page4 {
    width: 100%;
    /* min-height: 460px; */
    height: fit-content;
    /* min-height: 540px; */
    padding: 7px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    margin-bottom: 0px;
  }
}