.cardWrapperPageOne {
  width: 100%;
  max-width: 568px;
  height: 640px;
  border: 1px solid #E4E4E4;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.cardWrapperPageTwo {
  width: 100%;
  /* height: 344px; */
  gap: 170px;
  border-bottom: 1px solid #E4E4E4;
  background-color: white;
  padding: 32px 150px 32px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

.cardWrapperPageThree {
  width: 1187px;
  min-height: 496px;
  padding: 40px 120px 37px 40px;
  background-color: white;
  display: flex;
  gap: 32px;
  position: relative;
  border: 1px solid #E4E4E4;
}

.cardWrapperPageFour {
  width: 100%;
  max-width: 568px;
  height: 640px;
  border: 1px solid #E4E4E4;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}



@media (max-width: 1868px) {
  .cardWrapperPageOne {
    width: 100%;
    max-width: 500px;
    height: 600px;
  }

  .cardWrapperPageFour {
    width: 100%;
    max-width: 500px;
    height: 600px;
  }
}

@media (max-width: 1550px) {
  .cardWrapperPageOne {
    padding: 25px;
  }

  .cardWrapperPageFour {
    padding: 25px;
  }
}

@media (max-width: 765px) {
  .cardWrapperPageOne {
    height: 500px;
  }

  .lastLi {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    gap: 8px;
    /* Остальные свойства lastLi остаются */
    font-family: var(--font-public-sans);
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1%;
    text-transform: uppercase;
    color: #A9714B;
  }

  .cardWrapperPageFour {
    height: 500px;
  }

}

@media (max-width: 415px) {
  .cardWrapperPageOne {
    height: 470px;
  }

  .cardWrapperPageFour {
    height: 470px;
  }
}

@media (max-width: 390px) {
  .cardWrapperPageOne {
    padding: 16px;
    height: 374px;
    width: 344px;
  }

  .cardWrapperPageFour {
    padding: 8px 14px;
    height: fit-content;
    width: 344px;
  }
}